<a href="https://colab.research.google.com/github/pin164/Automated-Expense-Categorization/blob/main/Random_forest_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# STEP 1
# Import  dependencies
!pip install category_encoders
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from pathlib import Path
from sklearn import tree
import tensorflow as tf
from tensorflow.keras import layers, models
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.callbacks import Callback
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
import category_encoders as ce

from google.colab import drive
drive.mount('/content/drive')

Collecting category_encoders
  Downloading category_encoders-2.6.4-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.13.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.14.4)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.1)
Downloading category_encoders-2.6.4-py2.py3-none-any.whl (82 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.0/82.0 kB 2.3 MB/s eta 0:00:00
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.4
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Preprocessing

In [10]:
# STEP 2
#  Import and read the Cleaned_Invoice_4.csv
#/content/drive/MyDrive/Project 4/Automated-Expense-Categorization/Cleaned_Invoice_4.csv
application_df = pd.read_csv("/content/drive/MyDrive/Project 4/Automated-Expense-Categorization/Cleaned_Invoice_4.csv",encoding='latin1').iloc[:,:14]
application_df.head()

,Vendor,Month,Year,PO#,Invoice Date,Invoice#,total Invoice Amt,TRS,Project,Amount,Cost Centre,Order#,Dept
0,vendor 1039,Apr,2021,4501190248,2021-04-30,4,"$18,850.00",SDS7089109,WSH LINK Replacement - D&I,$455.00,165239,300007147,FIN
1,vendor 1039,Apr,2021,4501190248,2021-04-30,4,"$18,850.00",SDS7090144,AIMS Replacement (PDO-217),"$3,575.00",171318,930089792,BTT
2,vendor 1039,Apr,2021,4501190248,2021-04-30,4,"$18,850.00",SDS7089063,Petrinex - D&I,$877.50,190230,300007150,ARD
3,vendor 1039,Apr,2021,4501190248,2021-04-30,4,"$18,850.00",SDS7090248,M3P Vitality Upgrade - Implementation Phase - ...,"$4,062.50",195006,300007300,JUS
4,vendor 1039,Apr,2021,4501180577,2021-04-30,5,"$18,850.00",SDS7089423,Civil Legal Billing System - Scoping,"$5,005.00",171318,300007265,JUS

In [11]:
# STEP 3
# extract beneficial columns only
####X_df = application_df[['Column2','PO#','TRS','Order#','Column3']]
X_df = application_df[['PO#','TRS','Order#']]
Y_df = application_df['Cost Centre']

Cost Centre
171318    2225
171293     869
171225     546
171194     394
165155     195
          ...
175259       5
171190       5
171197       4
195496       3
165212       2
Name: count, Length: 73, dtype: int64

PO#       object
TRS       object
Order#     int64
dtype: object

In [12]:
#Step 4
# amend the data type of order to be an object
X_df.loc[:, 'Order#'] = X_df['Order#'].astype('object')

X_df.dtypes

<ipython-input-12-78b2616e01c1>:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[300007147 930089792 300007150 ... 300007069 300007069 300007069]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  X_df.loc[:, 'Order#'] = X_df['Order#'].astype('object')

PO#       object
TRS       object
Order#    object
dtype: object

0    165239
1    171318
2    190230
3    195006
4    171318
Name: Cost Centre, dtype: int64

In [14]:
#Step 5
# Ordinal encoding transforms the column of class names into a column of class integers. Ordinal encoding scheme maps columns to integers randomly
#application_df_encoded = pd.get_dummies(X_df)
#application_df_encoded

encoder = ce.OrdinalEncoder()
encoder.fit_transform(X_df).head()

   PO#  TRS  Order#
0    1    1       1
1    1    2       2
2    1    3       3
3    1    4       4
4    2    5       5

NameError: name 'X' is not defined

In [17]:
#Drop Rows with Missing Target Values:
#remove the rows from both the feature set X and the target set Y_df that contain missing target values.
# Combine X and y to drop rows with missing target values
combined_df = pd.concat([encoder, Y_df], axis=1)

# Drop rows where the target variable is missing
combined_df.dropna(subset=['Cost Centre'], inplace=True)

# Separate the features and target again after dropping missing values
X = combined_df.drop(columns=['Cost Centre']).values
y = combined_df['Cost Centre'].values


# Re-split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting datasets to verify the split
print("Training Features Shape:", X_train.shape)
print("Testing Features Shape:", X_test.shape)
print("Training Target Shape:", y_train.shape)
print("Testing Target Shape:", y_test.shape)

TypeError: cannot concatenate object of type '<class 'category_encoders.ordinal.OrdinalEncoder'>'; only Series and DataFrame objs are valid

In [ ]:
# Step 1: Import the DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

# Step 2: Initialize the Decision Tree Model
dt_model = DecisionTreeClassifier(random_state=42)
# Increase the depth of the tree or minimum number of samples required to split
dt_model = DecisionTreeClassifier(random_state=42, max_depth=10, min_samples_split=5)

# Step 3: Train the Model on the Training Data
dt_model.fit(X_train, y_train)

# Step 4: Make Predictions on the Test Data
y_pred = dt_model.predict(X_test)

In [ ]:
# Check the distribution of target values
print(pd.Series(y_train).value_counts())

171318    1783
171293     695
171225     427
171194     315
165155     159
          ...
175828       5
175259       5
171197       4
171190       3
195496       2
Name: count, Length: 72, dtype: int64

In [ ]:
# Step 5: Evaluate the Model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

print("Classification Report:")
print(classification_report(y_test, y_pred, zero_division=1))

confusion = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(confusion)

Accuracy: 0.4416
Classification Report:
              precision    recall  f1-score   support

      110508       1.00      0.00      0.00         8
      110889       1.00      0.00      0.00        13
      111173       1.00      0.00      0.00        15
      111508       1.00      0.00      0.00        21
      135072       1.00      0.00      0.00        12
      135139       1.00      0.00      0.00         5
      135150       1.00      0.00      0.00        13
      135367       1.00      0.00      0.00         7
      140010       1.00      1.00      1.00        15
      140548       1.00      0.00      0.00        19
      140642       1.00      0.00      0.00         4
      160207       1.00      0.00      0.00         2
      160781       1.00      0.00      0.00         3
      160996       1.00      0.00      0.00         4
      161017       1.00      0.00      0.00        10
      163124       1.00      0.00      0.00         5
      165031       1.00      0.00      0.00         9
      165039       1.00      0.00      0.00        19
      165127       1.00      0.00      0.00        23
      165135       1.00      0.00      0.00         7
      165155       1.00      0.00      0.00        36
      165212       1.00      0.00      0.00         2
      165239       1.00      0.00      0.00        12
      171190       1.00      0.00      0.00         2
      171193       1.00      0.00      0.00         8
      171194       1.00      0.32      0.48        79
      171195       1.00      0.00      0.00         3
      171205       1.00      0.00      0.00        15
      171225       1.00      0.97      0.99       119
      171236       1.00      0.00      0.00         4
      171293       1.00      0.00      0.00       174
      171297       1.00      0.00      0.00        23
      171318       0.35      1.00      0.52       442
      175243       1.00      0.00      0.00         6
      175521       1.00      0.00      0.00         9
      175828       1.00      0.00      0.00         1
      181243       1.00      0.00      0.00         6
      181314       1.00      0.00      0.00         4
      190006       1.00      0.00      0.00         6
      190230       1.00      0.00      0.00         8
      190392       1.00      0.00      0.00        10
      190588       1.00      0.00      0.00         7
      190635       1.00      0.00      0.00        16
      195002       1.00      0.00      0.00         8
      195006       1.00      0.00      0.00        25
      195022       1.00      0.00      0.00         6
      195112       1.00      0.00      0.00         6
      195113       1.00      0.00      0.00         4
      195276       1.00      1.00      1.00        13
      195285       1.00      0.00      0.00         3
      195344       1.00      0.00      0.00         3
      195403       1.00      1.00      1.00        18
      195496       1.00      0.00      0.00         1
      205344       1.00      0.00      0.00        12
      205697       1.00      0.00      0.00        11
      205744       1.00      0.00      0.00         2
      210095       1.00      0.00      0.00         5
      210163       1.00      0.00      0.00         1
      211718       1.00      0.00      0.00         3
      214347       1.00      0.00      0.00         8
      215122       1.00      0.00      0.00        22
      215133       1.00      0.00      0.00        11
      215347       1.00      0.82      0.90        17
      215746       1.00      0.00      0.00         7
      215747       1.00      0.00      0.00        13
      215748       1.00      0.00      0.00        19
      250163       1.00      0.00      0.00         7
      250227       1.00      0.00      0.00        16
      365600       1.00      0.00      0.00         9

    accuracy                           0.44      1456
   macro avg       0.99      0.09      0.09      1456
weighted avg       0.80      0.44      0.31      1456

Confusion Matrix:
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [ ]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the model
rf_model = RandomForestClassifier(random_state=42)

In [ ]:
#Some Cost Centres dominate the dataset,
# the model could struggle to predict minority payees.
# Use SMOTE or class weights.

# Using Class Weights:
rf_model = RandomForestClassifier(class_weight='balanced', random_state=42)
rf_model.fit(X_train, y_train)
y_pred = rf_model.predict(X_test)
print(classification_report(y_test, y_pred, zero_division=1))

              precision    recall  f1-score   support

      110508       1.00      1.00      1.00         8
      110889       1.00      1.00      1.00        13
      111173       1.00      1.00      1.00        15
      111508       1.00      1.00      1.00        21
      135072       1.00      1.00      1.00        12
      135139       1.00      1.00      1.00         5
      135150       1.00      1.00      1.00        13
      135367       1.00      1.00      1.00         7
      140010       1.00      1.00      1.00        15
      140548       1.00      1.00      1.00        19
      140642       1.00      1.00      1.00         4
      160207       1.00      1.00      1.00         2
      160781       1.00      1.00      1.00         3
      160996       1.00      1.00      1.00         4
      161017       1.00      1.00      1.00        10
      163124       1.00      1.00      1.00         5
      165031       1.00      1.00      1.00         9
      165039       1.00      1.00      1.00        19
      165127       1.00      1.00      1.00        23
      165135       1.00      1.00      1.00         7
      165155       1.00      1.00      1.00        36
      165212       1.00      0.00      0.00         2
      165239       1.00      1.00      1.00        12
      171190       1.00      1.00      1.00         2
      171193       1.00      1.00      1.00         8
      171194       0.99      1.00      0.99        79
      171195       1.00      1.00      1.00         3
      171205       1.00      1.00      1.00        15
      171225       1.00      1.00      1.00       119
      171236       1.00      1.00      1.00         4
      171293       1.00      1.00      1.00       174
      171297       1.00      1.00      1.00        23
      171318       1.00      1.00      1.00       442
      175243       1.00      1.00      1.00         6
      175521       1.00      1.00      1.00         9
      175828       1.00      1.00      1.00         1
      181243       1.00      1.00      1.00         6
      181314       1.00      1.00      1.00         4
      190006       1.00      1.00      1.00         6
      190230       1.00      1.00      1.00         8
      190392       1.00      1.00      1.00        10
      190588       1.00      1.00      1.00         7
      190635       1.00      1.00      1.00        16
      195002       1.00      1.00      1.00         8
      195006       1.00      1.00      1.00        25
      195022       1.00      1.00      1.00         6
      195112       1.00      1.00      1.00         6
      195113       1.00      1.00      1.00         4
      195276       1.00      1.00      1.00        13
      195285       1.00      1.00      1.00         3
      195344       1.00      1.00      1.00         3
      195403       1.00      1.00      1.00        18
      195496       1.00      1.00      1.00         1
      205344       1.00      1.00      1.00        12
      205697       1.00      1.00      1.00        11
      205744       1.00      1.00      1.00         2
      210095       1.00      1.00      1.00         5
      210163       1.00      1.00      1.00         1
      211718       1.00      1.00      1.00         3
      214347       1.00      1.00      1.00         8
      215122       1.00      1.00      1.00        22
      215133       1.00      1.00      1.00        11
      215347       1.00      1.00      1.00        17
      215746       1.00      1.00      1.00         7
      215747       1.00      1.00      1.00        13
      215748       1.00      1.00      1.00        19
      250163       1.00      1.00      1.00         7
      250227       1.00      1.00      1.00        16
      365600       1.00      1.00      1.00         9

    accuracy                           1.00      1456
   macro avg       1.00      0.99      0.99      1456
weighted avg       1.00      1.00      1.00      1456

In [ ]:
#Using SMOTE to Balance Classes:
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=42)
X_train_balanced, y_train_balanced = sm.fit_resample(X_train, y_train)

TypeError: numpy boolean subtract, the `-` operator, is not supported, use the bitwise_xor, the `^` operator, or the logical_xor function instead.

In [ ]:


# Train the model
rf_model.fit(X_train, y_train)

# Make predictions and evaluate
y_pred = rf_model.predict(X_test)
print(classification_report(y_test, y_pred, zero_division=1))

              precision    recall  f1-score   support

      110508       1.00      1.00      1.00         8
      110889       1.00      1.00      1.00        13
      111173       1.00      1.00      1.00        15
      111508       1.00      1.00      1.00        21
      135072       1.00      1.00      1.00        12
      135139       1.00      1.00      1.00         5
      135150       1.00      1.00      1.00        13
      135367       1.00      1.00      1.00         7
      140010       1.00      1.00      1.00        15
      140548       1.00      1.00      1.00        19
      140642       1.00      1.00      1.00         4
      160207       1.00      1.00      1.00         2
      160781       1.00      1.00      1.00         3
      160996       1.00      1.00      1.00         4
      161017       1.00      1.00      1.00        10
      163124       1.00      1.00      1.00         5
      165031       1.00      1.00      1.00         9
      165039       1.00      1.00      1.00        19
      165127       1.00      1.00      1.00        23
      165135       1.00      1.00      1.00         7
      165155       1.00      1.00      1.00        36
      165212       1.00      0.00      0.00         2
      165239       1.00      1.00      1.00        12
      171190       1.00      1.00      1.00         2
      171193       1.00      1.00      1.00         8
      171194       0.99      1.00      0.99        79
      171195       1.00      1.00      1.00         3
      171205       1.00      1.00      1.00        15
      171225       1.00      1.00      1.00       119
      171236       1.00      1.00      1.00         4
      171293       1.00      1.00      1.00       174
      171297       1.00      1.00      1.00        23
      171318       1.00      1.00      1.00       442
      175243       1.00      1.00      1.00         6
      175521       1.00      1.00      1.00         9
      175828       1.00      1.00      1.00         1
      181243       1.00      1.00      1.00         6
      181314       1.00      1.00      1.00         4
      190006       1.00      1.00      1.00         6
      190230       1.00      1.00      1.00         8
      190392       1.00      1.00      1.00        10
      190588       1.00      1.00      1.00         7
      190635       1.00      1.00      1.00        16
      195002       1.00      1.00      1.00         8
      195006       1.00      1.00      1.00        25
      195022       1.00      1.00      1.00         6
      195112       1.00      1.00      1.00         6
      195113       1.00      1.00      1.00         4
      195276       1.00      1.00      1.00        13
      195285       1.00      1.00      1.00         3
      195344       1.00      1.00      1.00         3
      195403       1.00      1.00      1.00        18
      195496       1.00      1.00      1.00         1
      205344       1.00      1.00      1.00        12
      205697       1.00      1.00      1.00        11
      205744       1.00      1.00      1.00         2
      210095       1.00      1.00      1.00         5
      210163       1.00      1.00      1.00         1
      211718       1.00      1.00      1.00         3
      214347       1.00      1.00      1.00         8
      215122       1.00      1.00      1.00        22
      215133       1.00      1.00      1.00        11
      215347       1.00      1.00      1.00        17
      215746       1.00      1.00      1.00         7
      215747       1.00      1.00      1.00        13
      215748       1.00      1.00      1.00        19
      250163       1.00      1.00      1.00         7
      250227       1.00      1.00      1.00        16
      365600       1.00      1.00      1.00         9

    accuracy                           1.00      1456
   macro avg       1.00      0.99      0.99      1456
weighted avg       1.00      1.00      1.00      1456

In [ ]:
rf_confusion = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(rf_confusion)

Confusion Matrix:
[[62  0  0 ...  0  0  0]
 [ 0 22  0 ...  0  0  0]
 [ 0  0 16 ...  0  0  0]
 ...
 [ 0  0  0 ... 10  0  0]
 [ 0  0  0 ...  0  8  0]
 [ 0  0  0 ...  0  0 17]]